<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">



  <!-- Bootstrap script -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <!--CSS script-->
   <link rel="stylesheet" href="css/styles3.css">
   <link rel="stylesheet" href="css/styles2.css">
   <!--Font Awesome script -->
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
   <!--JS script-->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
   <link rel="manifest" href="favicon/site.webmanifest">

 <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


 <style>
   .bd-placeholder-img {
     font-size: 1.125rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     user-select: none;
   }

   @media (min-width: 768px) {
     .bd-placeholder-img-lg {
       font-size: 3.5rem;
     }
   }
 </style>


 <!-- Custom styles for this template -->
 <link href="form-validation.css" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="topnav">
    <a href="../MainDashBoard">Back</a>
      <!-- <a class="active" href="#top">Home</a>
      <a href="checkout.html">Profile</a>
      <a href="previousActivities">PastActivities</a>
      <a href="wallet.html">Wallet</a>
      <a href="points.html">Points</a>
      <a style="float:right;" href="index.html">Logout</a> -->
  </div>

<div style="padding-top:3rem;" class="container">
<main>
 <div class="py-5 text-center">
   <h2>Checkout</h2>
 </div>
<form class="" action="/afterCheckOut" method="post">
 <div class="row g-5">
   <div class="col-md-5 col-lg-4 order-md-last">
     <h4 class="d-flex justify-content-between align-items-center mb-3">
       <span class="text-primary">Your cart</span>
       <span style="color:white;"class="badge bg-dark"><%= numActivity%> Items</span>
     </h4>

       <%  newListItems.forEach(function(item){ %>
         <li class="list-group-item d-flex justify-content-between lh-sm">
           <div>
             <h6 class="my-0"><%= item.Name%></h6>
             <small class="text-muted"><%= item.Date%></small>
             <a style="color: red; padding-left: 4rem;" href="DeleteActivities/<%=item.Name%>">Delete</a>
           </div>
           <span class="text-muted">$<%= item.Price %></span>


         </li>
        <%  }) %>
        <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">Total Price</h6>
        </div>
        <span name = ""class="text-muted"><%= TotalPrice %> points</span>
        <input type="hidden" name="TotalPrice" value="<%= TotalPrice %>">
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <p class="my-0">Points</p>
        </div>
        <span class="text-muted"><%= TotalPoints %> points</span>
          <input type="hidden" name="TotalPoints" value="<%= TotalPoints %>">
        <input type="hidden" type="text" name="" value="">
        </li>
        <% if (TotalPoints < TotalPrice){ %>
          <li class="list-group-item">
          <div style="text-align: center;">
              <a href="points.html" class="my-0">Add more Points</p>
          </div>
          </li>
          <% } else if (numActivity == 0){ %>
            <li class="list-group-item">
              <br>
              <div style="text-align: center;" class="">
                <p>Cart Empty</p>
              </div>
              </li>
        <% } else{ %>
          <li class="list-group-item">
            <br>
            <div style="text-align: center;" class="">
            <button class="w-100 btn btn-primary btn-lg" type="submit">CheckOut</button>
            </div>
            </li>
        <%  }%>
</form>
   </div>
</main>

<footer class="my-5 pt-5 text-muted text-center text-small">
 <p class="mb-1">&copy; 2021 PASTIME</p>
 <ul class="list-inline">
   <li class="list-inline-item"><a href="#">Privacy</a></li>
   <li class="list-inline-item"><a href="#">Terms</a></li>
   <li class="list-inline-item"><a href="#">Support</a></li>
 </ul>
</footer>
</div>


 <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

   <script src="form-validation.js"></script>
</body>
</html>
